<mat-card class="col-lg-6 col-lg-offset-2" style="background-color:#b3e5fc;">
  <mat-card-title>
    Reports
  </mat-card-title>
  <hr size="3">
  <mat-card-content>
    <div class="col-lg-12">
      <div class="row">
        <a routerLink="/report-app-details">Appointment Details</a>
      </div>
      <div class="row">
        <a routerLink="/report-treatment-details">Treatment Details</a>
      </div>
      <div class="row">
        <a routerLink="/report-payment-details">Payment Details</a>
      </div>
      <div class="row">
        <a routerLink="/report-medicine-stock-details">Medicine Stock Details</a>
      </div>
      <div class="row">
        <a routerLink="/report-diagnosis">Patient Diagnosis Details</a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
