<mat-card class="col-lg-6 col-lg-offset-2" style="background-color:#b3e5fc;">
  <mat-card-title>
    About Us
  </mat-card-title>
  <hr size="3">
  <mat-card-content>
    “Peramuna Ayurveda Medical Center” is well known ayurvedic center in Kottawa area which is functioning around 10
    years. Since the start, day by day their customer base is increasing. This ayurvedic center provides many ayurvedic
    medical treatments. Currently few numbers of doctors examine patients and provide treatments here and they issued
    medicines as well. They conduct a pharmacy to provide medicines for the customers as well.
    <br>
    <div class="col-lg-5" style="background-color:#87CEEB;margin-right: 10px">
      <img src="assets/images/t1.jpg">
    </div>
    <div class="col-lg-5" style="background-color:#87CEEB;margin-right: 10px">
      <img src="assets/images/2.png">
    </div>
    <div class="row" style="padding-top: 15px;padding-left: 30px">
      <div class="col-lg-5" style="background-color:#87CEEB;margin-right: 10px">
        <img src="assets/images/3.png">
      </div>
      <div class="col-lg-5" style="background-color:#87CEEB;margin-right: 10px">
      </div>
    </div>
  </mat-card-content>

</mat-card>
<mat-card class="col-lg-6 col-lg-offset-2" style="background-color:#b3e5fc;">
  <mat-card-content>

  </mat-card-content>

</mat-card>


