
<div class="panel-primary" id="userdata57" style="background-color:#b3e5fc; padding-bottom: 10px; padding-right: 10px;">
  <div class="form-group">
    <div class="row" style="padding-top: 15px;padding-left: 30px">
      <div class="col-lg-5">
        <div class="col-lg-5 control-label"><label for="oldpassword" required="required">Old Password</label></div>
        <div class="col-lg-0">
          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"[(ngModel)]="passwordChange.oldPassword">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 15px;padding-left: 30px">
      <div class="col-lg-5">
        <div class="col-lg-5   control-label"><label for="newpassword" required="required" style="padding-left: 1px">New Password</label></div>
        <div class="col-lg-0">
          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"[(ngModel)]="passwordChange.newPassword">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 15px;padding-left: 30px">
      <div class="col-lg-5">
        <div class="col-lg-5   control-label"><label for="newpassword" required="required" style="padding-left: 1px">Confirm Password</label></div>
        <div class="col-lg-0">
          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row" style="padding-top: 15px;padding-left: 40px">
        <div class="col-xg-6">
          <a routerLink="/login"><button mat-raised-button color="primary" style="margin-left: 100px" (click)="changePassword()">Change</button></a>
          <a routerLink="/login"><button mat-raised-button color="primary" style="margin-left: 80px">Cancel</button></a>
        </div>
      </div>
    </div>
  </div>
</div>




