<hr>
<nav class="navbar navbar-light" style="padding-top: 15px;padding-left: 40px" >
<div class="container-fluid " style="background-color: ">
  <div class="row footer-top" style="padding-top: 15px;padding-top: 40px">
    <div class="col-sm-4 text-center">
      <h4 class="ft-text-title"style="background-color:">No 719, Malabe Road, Kottawa, Pannipitiya</h4>
    </div>
    <div class="col-sm-4 text-center border-left">
      <h4 class="ft-text-title">+94 712184355</h4>
    </div>
    <div class="col-sm-4 col-xs-12 text-center border-left">
      <h4 class="ft-text-title">info@ayur.com</h4>
    </div>
  </div>

</div>
  <div class="row ft-copyright pt-2 pb-2" style="padding-left: 500px; background-color: grey" >
    <div class="col-sm-4 text-pp-crt " align="center">Copyright 2019 All  Rights Reserved</div>
  </div>
</nav>
